.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 3rem;
  grid-gap: 3rem;
  place-content: center;
}

@media only screen and (min-width: 400px) {
  .wrapper {
    grid-template-columns: repeat(auto-fit, 20rem);
  }
}
