.label {
  text-align: center;
  margin-top: 1rem;
}
.text {
  display: block;
  margin-bottom: 0.25rem;
}
.input {
  appearance: none;
  background-color: #eee;
  border-radius: 0.25rem;
  height: 10px;
  cursor: pointer;
  width: 10rem;
  margin: 0;
  transition: 0.2s ease;
}
.input:focus {
  outline: none;
  transform: scale(1.2);
}
.input::-webkit-slider-thumb {
  appearance: none;
  height: 18px;
  width: 18px;
  background-color: rgb(249, 14, 100);
  border-radius: 50%;
}
.input::-moz-range-thumb {
  appearance: none;
  height: 18px;
  width: 18px;
  background-color: rgb(214, 50, 25);
  border-radius: 50%;
}

@media only screen and (min-width: 400px) {
  .label {
    margin-top: 0;
  }
}
