.default {
  font-size: 1.25rem;
  cursor: pointer;
  background-color: #fff;
}
.default:focus,
.default:hover {
  outline: none;
  background-color: rgba(238, 238, 238, 0.349);
}
.button {
  composes: default;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  border: 2px solid;
  font-size: 1.25rem;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08);
}
.button-text {
  composes: default;
  padding: 1rem;
  border: none;
  border-bottom: 2px solid;
  font-size: 1.25rem;
}

/* Variants of the base style button */
.button--primary {
  composes: button;
  border-color: #2be1bc;
  color: #2be1bc;
}
.button--success {
  composes: button;
  border-color: rgb(23, 148, 50);
  color: rgb(23, 148, 50);
}

/* Selected variants sent from options.js */
.button-text--primary {
  composes: button-text;
  border-color: rgb(105, 51, 230);
  color: rgb(105, 51, 230);
}
.button-text--red {
  composes: button-text;
  border-color: #f15d67;
  color: #f15d67;
}
.button-text--green {
  composes: button-text;
  border-color: #4bd870;
  color: #4bd870;
}
.button-text--blue {
  composes: button-text;
  border-color: #5594e6;
  color: #5594e6;
}
