.label {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.text {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  color: #fff;
}
.input {
  position: absolute;
  transform: scale(0);
}
