body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  padding: 3rem;
}
body * {
  box-sizing: inherit;
}
input,
button {
  font-family: "Roboto", sans-serif;
  margin: 1.5rem;
}
